html{
  background-color: Black;
  color: white;
  width: 100%;
  overflow-x: hidden;
}
.hamburger{
  display: none;
}
.nav-bar{
  width: 100%;
  height: 4rem;
  position:static;
  display: grid;
  grid-template-columns: 4rem 1fr 1fr 4rem;
}
.logo{
  display: flex;
  grid-column: 2/3;
  font-size: 3rem;
  font-weight: 500;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
}
.color{
  color: #ffbf35;
}
.navbar-elment{
  grid-column: 3/4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.navbar-elment a{
  text-decoration: none;
  color: white;
  margin-left: 60px
}
.navbar-elment a:hover{
  color: #ffbf35;
}